body {
  background-color: rgb(233, 233, 233);
  z-index: -5;
}

#container {
  width: 400px;
  height: 300px;
  margin: 150px auto;
  z-index: -5;
}

#maintabs {
  z-index: -10;
}

.tab {
  height: 45px;
  width: 200px;
  display: inline-block;
  /*background-color: rgb(0, 135, 210);*/
  /*background-color: rgb(124, 124, 124);*/
  background-color: rgb(233, 233, 233);
  margin-left: 0;
  margin-right: 0;
  border-radius: 7px 7px 0 0;
  border: 2px rgb(124, 124, 124) solid;
  border-bottom: none;
  color: rgb(91, 91, 91);
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
  font-family: serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#teachertab {
  position: relative;
  z-index: 1;
}

#studenttab {
  position: relative;
  margin-left:-12;
  z-index: 0;
}

#loginbox {
  width: 400px;
  border-radius: 0 0 7px 7px;
  height: 250px;
  /*margin: 150px auto;*/
  background-color: white;
  vertical-align: middle;
  padding-top: 30px;
  position: relative;
}

#secondarytabspace {
  background-color: white;
}

.secondarytab {
  margin-top: 10px;
  background-color: rgb(93, 181, 230);
}

#signup {
  position: relative;
  margin-left: -5px;
}

#titletext {
  width: inherit;
  height: auto;
  text-align: center;

}

.button {
  /*margin-left: 60%;*/
  margin-top: 10px;
  /*background-color: rgb(0, 135, 210);*/
  background-color: rgb(97, 96, 96);
  border: none;
  color: white;
  font-size: 15px;
  height: 35px;
  width: 90px;
  /*//padding-top: -1px;*/
  line-height: 10px;
  border-radius: 5px;

}

#signupbutton {

  padding-left: 9px;
}

input {
  margin-top: 0px;
  height: 50px;
  border-radius: 3px;
  border: none;
  font-size: 18px;
  text-align: center;
  outline: none;
  width: 280px;
  background-color: rgb(233, 233, 233);
  color: rgb(124, 124, 124);
}

/*input:focus::-webkit-input-placeholder {
    color: transparent;
}*/


#username {
  margin-top: -35px;
}

#password {
  margin-top: 10px;
}

/*table, tr, td {
  border: 1px black solid;
}*/

table {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
}

td {
  width: 90px;
}

tr {

}
