@font-face {
  font-family: 'Droid Sans';
  src: url("fonts/DroidSans.ttf") ;
}

@font-face {
  font-family: 'Anivers';
  src: url("fonts/Anivers_Regular.ttf") ;
}

@font-face {
  font-family: 'Aller';
  src: url("fonts/Aller_Rg.ttf");
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

@-webkit-keyframes inputHighlighter {
	from { background:#F44336; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#F44336; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#F44336; }
  to 	{ width:0; background:transparent; }
}

::selection {
  background: #F44336;
  color: white;
}
::-moz-selection {
  background: #F44336;
  color: white;
}

body * {
  outline: none;
}

.toast {
  display: none;
  position: absolute;
  text-align: center;
  align-items: center;
  font-size: 19px;
  font-family: "Droid Sans";
  color: white;
  width: 200px;
  height: 90px;
  padding-top: 10px;
  bottom: -150px;
  left: 40px;
  background-color: rgba(27, 27, 27, 0.64);
  border-radius: 3px;
  overflow: hidden;
  z-index: 999;
}

.topbar .container1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.container1 {
  width: 1280px;
  height: auto;
  margin: 50px auto;
}

.popup {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
  margin-top: 300px;
  margin-left: 650px;
  background-color: white;
  -webkit-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  z-index: 400;
}

.group {
  display: none;
  position:absolute;
  font-family: "Droid Sans";
}

#namegroup {
  margin-left: 50px;
  margin-top: 45px;
}

#emailgroup {
  margin-left: 400px;
  margin-top: 45px;
}

#collegegroup {
  margin-left: 50px;
  margin-top: 120px;
}

#rollnogroup {
  margin-left: 400px;
  margin-top:120px;
}

#phnogroup {
  margin-left: 400px;
  margin-top: 200px;
}

#yeargroup {
  margin-left: 50px;
  margin-top: 212px;
}

#branchgroup {
  margin-left: 222px;
  margin-top: 212px;
}

#markedeventsgroup {
  margin-left: 50px;
  margin-top: 289px;
}

.markedheading {
  position: absolute;
  font-size: 20px;
  margin-left: 7px;
  margin-top: -27px;
}

.markedevents {
  background-color: transparent;
  width: 663px;
  height: 210px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.59);
  border-radius: 5px;
}

.markedevent {
  width: 653px;
  padding-left: 10px;
  padding-top: 2.5px;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  transition: background-color ease 500ms;
  z-index: 555;
}

.markedevents:hover {
  overflow-y: auto;
}

.markedevents::-webkit-scrollbar {
  width: 5px;
}

.markedevents::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}

.markedevents::-webkit-scrollbar-track {
  display: none;
}

.deleteevent {
  float: right;
  font-size: 20px;
  width: 25px;
  height: 25px;
  margin-top: -24px;
  margin-left: 610px;
  margin-right: 10px;
  border-radius: 50px;
  transition: background-color ease 500ms;
  overflow: hidden;
  z-index: 550 !important;
}

.deleteevent img {
  margin: 0;
  padding: 0;
  width: 25px;
}

.markedevent:hover {
  background-color: rgba(255, 97, 69, 0.79);
}

.oneevent {
  display: block;
}

.m8 {
  border-radius: 0 0 5px 5px;
}

.e8 {
  padding-bottom: 3px;
  overflow: hidden;
}

.listholder {
  font-size: inherit;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #757575;
  width: 140px;
  font-size:18px;
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 10px;
  cursor: pointer;
  z-index: 500;
}

.list {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: absolute;
  display: none;
  margin-top: 16px;
  margin-left: -5px;
  z-index: 450;
  background-color: white;
  -webkit-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
}

.list ul {
  list-style:none;
  padding: 0;
  margin: 0;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list li {
  display: none;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.list li:hover {
  background-color: rgba(230, 230, 230, 0.65);
}

.forminput {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  outline: none;
  border-bottom:1px solid #757575;
}

.forminput:focus 	{ outline:none; }

.formlabel {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.forminput:focus ~ .formlabel, .forminput:valid ~ .formlabel 		{
  top:-20px;
  font-size:14px;
  color:#F44336;
}

.bar 	{ position:relative; display:block; width:315px; }

.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#F44336;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

.forminput:focus ~ .bar:before, .forminput:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.forminput:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


.cseevents .events {
  position: absolute;
  font-family: 'Anivers';
  font-size: 25px !important;
  width: 130px;
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
  overflow:hidden;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  z-index: 10;
}

.cseevents .events span {
  display: none;
}

.cseevents #l1 {
  font-size: 23px;
  background-position: left;
  background-size: contain;
}

.cseevents #l1 .eventname {
  line-height: 23px;
  display: block;
  margin-top: 5px;
  font-size: 22px;
  text-align: center;
  align-items: center;
}

.cseevents #l2 {
  margin-left: 142px;
}

.cseevents #l2 .eventname {
  display: block;
  margin-top: 5px;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

.cseevents #l3 {
  margin-left: 284px;
}

.cseevents #l3 .eventname {
  display: block;
  margin-top: 30px;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
  align-items: center;
}

.cseevents #l4 {
  margin-left: 426px;
}

.cseevents #l4 .eventname {
  margin-top: 15px;
  font-size: 22px;
  display: block;
  text-align: center;
  align-items: center;

}

.cseevents #l5 {
  margin-left: 568px;
}

.cseevents #l5 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.cseevents #l6 {
  margin-left: 710px;
}

.cseevents #l6 .eventname {
  display: block;
  margin-top: 28px;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.cseevents #l7 {
  margin-left: 852px;
}

.cseevents #l7 .eventname {
  display: block;
  margin-top: 5px;
  font-size: 22px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.cseevents #l8 {
  margin-left: 994px;
}

.cseevents #l8 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.cseevents #l9 {
  margin-left: 1136px;
}

.cseevents #l9 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.cseevents .eventdescription {
  line-height: 30px;
  position: absolute;
  display: none;
  width: 100%;
  height: 330px;
  margin-top: 5px;
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.cseevents .eventdescription ul {
  font-size: 19px;
  margin: 0;
  font-family: 'Aller';
  margin-bottom: 10px;
}

.cseevents .eventheading {
  position: absolute;
  margin-left: 600px;
}

.cseevents .descleft {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.cseevents .leftheading {
  position: absolute;
  margin-left: 240px;
  margin-bottom: 20px;
}

.cseevents .perules {
  margin-left: 600px;
  z-index: 9999;
}

.cseevents .leftcontent {
  overflow: hidden;
  height: 300px;
  margin-top: 40px;
}

.cseevents .leftcontent ul {
  width: 600px;
  overflow: hidden;
}

.cseevents .pplc ul {
  width: 590px;
}


.leftcontent::-webkit-scrollbar {
  width: 5px;
}

.leftcontent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}

.leftcontent::-webkit-scrollbar-track {
  display: none;
}

.leftcontent::-moz-scrollbar-track {
  display: none;
}

.leftcontent:hover {
  overflow-y: auto;
}

.cseevents .descright {
  right: 0;
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-color: transparent;
}

.cseevents .rightheading {
  position: absolute;
  margin-left: 210px;
  margin-bottom: 50px;
}

.cseevents .rightcontent {
  margin-top: 40px;
  height: 300px;
  overflow: hidden;
  background-color: transparent;
}

.cseevents .javadbrc {
  margin-top: 10px;
  height: 325px;
}

.cseevents .rightcontent ul {
  width: 90%;
}

.cseevents .rightcontent ol {
  width: 90%;
  margin: 0;
}

.cseevents .rightcontent ol > li {
  font-size: 22px;
}

.cseevents .rightinnerheading {
  margin-left: 215px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 20px;
  font-family: 'Aller';
}

.bottompanel {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}

.coordinators {
  font-family: "Droid Sans";
  position: absolute;
  font-size: 18px;
}

.coordinatorsare {
  position: absolute;
  margin-top: 28px;
  margin-left: 50px;
  font-size: 20px;

}

.coordinator1 {
  position: absolute;
  margin-top: 20px;
  margin-left: 200px;
}

.coordinator2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 370px;
}

.coordinator3 {
  position: absolute;
  margin-top: 20px;
  margin-left: 540px;
}

.coordinator4 {
  position: absolute;
  margin-top: 20px;
  margin-left: 710px;
}



.coordinator {
  width:150px;
  height: 25px;
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.price {
  position: absolute;
  margin-left: 20px;
  margin-top: 70px;
  font-size: 15px;
  font-family: "Droid Sans";
}

.register {

  position: absolute;
  overflow:hidden;
  font-size: 23px;
  margin-left: 1085px;
  margin-top: 10px;
  padding-top: 20px;
  height: 50px;
  width: 150px;
  background-color: #F44336;
  color: white;
  text-align: center;
  border-radius: 5px;
  z-index: 400;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
  box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
}

.registercancel {
  position: absolute;
  overflow:hidden;
  font-size: 23px;
  margin-left: 1085px;
  margin-top: 10px;
  padding-top: 20px;
  height: 50px;
  width: 150px;
  background-color: #F44336;
  color: white;
  text-align: center;
  border-radius: 5px;
  z-index: 400;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
  box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
}

#minimizebutton {
  font-family: 'Anivers';
  display: none;
  z-index: 500 !important;
  margin-top: 510px;
  margin-left: 566px;
}

#submitbutton {
  font-family: 'Anivers';
  display: none;
  z-index: 500 !important;
  margin-top: 510px !important;
  margin-left: 48px !important;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 0.5s;
}

.marker {
  position: absolute;
  margin-left: 1000px;
  margin-top: 35px;
}

.mark {
  position: absolute;
  margin-left: -145px;
  margin-top: -8px;
  width: 140px;
  font-size: 15px;
  text-align: center;
}

.label {
  width:50px;
  height:20px;
  background:#F44336;
  box-shadow: inset 0 0 0 30px #4a4a4a;
  border-radius:20px;
  display:block;
  position:absolute;
  z-index:1;
  transition:all 300ms ease-in 0s;
}

.switch {
  position:absolute;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
}

.switch:before {
  content:"";
  position:absolute;
  top:-5px;
  left:-6px;
  height:30px;
  width:30px;
  border-radius:50%;
  display:block;
  background:#F44336;
  border:none;
  z-index:12;
  box-shadow:inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
  transition:box-shadow 100ms ease-in 0s, left 200ms ease-in 200ms;
}

.switch:checked:before {
  left:17px;
  box-shadow:inset 0 0 0 0 #F44336,0 0 5px 0 #000;
}

.switch:checked + .label {
  box-shadow: inset 0 0 0 0 #4a4a4a;
}

@-moz-document url-prefix() {

  .mark {
    margin-left: -170px;
    margin-top: -12px;
    width: 160px;
  }

  .switch {
    display: none;
    width: 30px;
    height: 30px;
  }

  .forff {
    position: absolute;
    height:30px;
    width:30px;
    margin-left: -2px;
    margin-top: -5px;
    border-radius:50%;
    display:block;
    background:#F44336;
    border:none;
    z-index:12;
    box-shadow:inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
    transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -moz-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -webkit-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -o-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -ms-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
  }
  .switch:checked ~ .forff {
    box-shadow:inset 0 0 0 0 #F44336,0 0 5px 0 #000;
  }

  .list li {
    display: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
  }

  .markedevent {
      font-size: 17px;
      padding-bottom: 3px;
      padding-top: 3px;
  }
}

.topimage {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.topimage img {
  width: 100%;
}

.branchselect {
  height: 100%;
  margin-top: -38px;
  margin-right: 0px;
}

.extras {
  position: absolute;
  font-family: "Droid Sans";
  color: white;
  margin-left: 1110px;
}

.branchlisttop {
  position: absolute;
  font-family: "Droid Sans";
  color: white;
  font-size: 25px;
  width: 150px;
  height: 30px;
  text-align: center;
  top: 3px;
  border: 2px solid white;
  border-radius: 4px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 300;
  transition: background-color linear 0.3s, color linear 0.3s;
  -webkit-transition: background-color linear 0.3s, color linear 0.3s;
  -moz-transition: background-color linear 0.3s, color linear 0.3s;
  -o-transition: background-color linear 0.3s, color linear 0.3s;
  -ms-transition: background-color linear 0.3s, color linear 0.3s;
}

.branchlisttop ul {
  display: none;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  z-index: 99;
  color: black;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
}

.branchlisttop li {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px 5px 5px 5px;
  transition: background-color linear 0.5s;
  -webkit-transition: background-color linear 0.5s;
  -moz-transition: background-color linear 0.5s;
  -o-transition: background-color linear 0.5s;
  -ms-transition: background-color linear 0.5s;
}

.branchlisttop li:hover {
  background-color:rgb(196, 196, 196);
}

.branchlisttop:hover {
  background-color: white;
  color: black;
}
