@font-face {
  font-family: 'Droid Sans';
  src: url("fonts/DroidSans.ttf") ;
}

@font-face {
  font-family: 'Anivers';
  src: url("fonts/Anivers_Regular.ttf") ;
}

@font-face {
  font-family: 'SlimJoe';
  src: url("fonts/SlimJoe.otf") ;
}

@font-face {
  font-family: 'AUdimat';
  src: url("fonts/AUdimat-Regular.otf");
}

@font-face {
  font-family: 'Aller';
  src: url("fonts/Aller_Rg.ttf");
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

@-webkit-keyframes inputHighlighter {
	from { background:#F44336; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#F44336; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#F44336; }
  to 	{ width:0; background:transparent; }
}

body {
  overflow: hidden;
  background-color: rgb(224, 83, 58);
}

::selection {
  background: #F44336;
  color: white;
}
::-moz-selection {
  background: #F44336;
  color: white;
}

.toast {
  position: absolute;
  text-align: center;
  align-items: center;
  font-size: 19px;
  font-family: "Droid Sans";
  color: white;
  width: 200px;
  height: 90px;
  /*padding-left: 10px;*/
  padding-top: 10px;
  bottom: -150px;
  left: 40px;
  background-color: rgba(27, 27, 27, 0.64);
  border-radius: 3px;
  overflow: hidden;
  z-index: 999;
}

#topbar {
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: rgba(112, 112, 112, 0.44);
  top: 0;
  left: 0;
}

#topbar .container {
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
}

.container {
  width: 1280px;
  height: auto;
  margin: 50px auto;
}

.popup {
  display: none;
  position: absolute;
  overflow: hidden;
  //width: 800px;
  //height: 600px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  //margin-left: 235px;
  margin-left: 600px;
  //margin-top: -10px;
  margin-top: 300px;
  background-color: white;
  //border: 2px solid black;
  -webkit-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  z-index: 400;
}

/*TODO Test code. Remove in the final build*/
/*.popup {
  position: absolute;
  overflow: hidden;
  width: 800px;
  height: 600px;
  margin-left: 235px;
  margin-top: -10px;
  background-color: white;
  //border: 2px solid black;
  -webkit-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  z-index: 400;
}*/

.group {
  display: none;
  position:absolute;
}

#namegroup {
  margin-left: 50px;
  margin-top: 45px;
}

#emailgroup {
  margin-left: 400px;
  margin-top: 45px;
}

#collegegroup {
  margin-left: 50px;
  margin-top: 120px;
}

#rollnogroup {
  margin-left: 400px;
  margin-top:120px;
}

#phnogroup {
  margin-left: 400px;
  margin-top: 200px;
}

#yeargroup {
  margin-left: 50px;
  margin-top: 212px;
}

#branchgroup {
  margin-top: 212px;
  margin-left: 222px;
}

#markedeventsgroup {
  margin-left: 50px;
  margin-top: 289px;
}

.markedheading {
  position: absolute;
  font-size: 20px;
  margin-left: 7px;
  margin-top: -27px;
}

.markedevents {
  background-color: transparent;
  width: 663px;
  height: 210px;
  border: 1px solid rgba(0, 0, 0, 0.59);
  border-radius: 5px;
}

.markedevent {
  width: 653px;
  //background-color: rgb(212, 249, 254);
  padding-left: 10px;
  padding-top: 2.5px;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  transition: background-color ease 500ms;
  z-index: 555;
}

.deleteevent {
  position: absolute;
  font-size: 20px;
  width: 25px;
  height: 25px;
  margin-top: -24px;
  margin-left: 620px;
  border-radius: 50px;
  transition: background-color ease 500ms;
  overflow: hidden;
}

.deleteevent img {
  //position: absolute;
  margin: 0;
  padding: 0;
  width: 25px;
}

.markedevent:hover {
  background-color: rgba(255, 97, 69, 0.79);
}

/*.markedevent {
  display: block;
  width: 653px;
  //background-color: rgba(181, 181, 181, 0.7);
  font-size: 18px;
  padding-left: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  //border-bottom: 1px solid black;
}*/


/*TODO Only the last event in the marked events has special rules.*/
.oneevent {
  display: block;
}


.m8 {
  border-radius: 0 0 5px 5px;
}

.e8 {
  /*display: block;*/
  //padding-top: 1.5px;
  padding-bottom: 3px;
  //z-index: 540;
  overflow: hidden;
}

.listholder {
  font-size: inherit;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #757575;
  width: 140px;
  font-size:18px;
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 10px;
  cursor: pointer;
  z-index: 500;
}

.list {
  width: 100%;
  height: 50px;
  overflow: hidden;
  position: absolute;
  display: none;
  margin-top: 16px;
  margin-left: -5px;
  z-index: 450;
  background-color: white;
  -webkit-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
}

.list ul {
  list-style:none;
  padding: 0;
  margin: 0;
  /*-webkit-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);
  box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.26);*/
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.list li {
  display: none;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.list li:hover {
  background-color: rgba(230, 230, 230, 0.65);
}

.forminput {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

.forminput:focus 		{ outline:none; }

.formlabel {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.forminput:focus ~ .formlabel, .forminput:valid ~ .formlabel 		{
  top:-20px;
  font-size:14px;
  //color:#5264AE;
  color:#F44336;
}

.bar 	{ position:relative; display:block; width:315px; }

.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#F44336;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

.forminput:focus ~ .bar:before, .forminput:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.forminput:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}


.events {
  //display: inline-block;
  position: absolute;
  font-family: 'Anivers';
  font-size: 25px !important;
  //font-family: 'AUdimat';
  //font-weight: bold;
  width: 150px;
  height: 80px;
  //margin-left: 10px;
  //background-color: rgba(179, 235, 252, 1);
  background-color: rgba(255, 255, 255, 1);
  //display: block;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
}

.events span {
  //position: relative;
  //margin: 10px auto;
  display: none;
}

#l1 {
  font-size: 23px;
  background-position: left;
  background-size: contain;
}

#l1 .eventname {
  line-height: 23px;
  display: block;
  margin-top: 5px;
  //margin-left: -5px;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

#l2 {
  margin-left: 160px;
}

#l2 .eventname {
  display: block;
  margin-top: 5px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

#l3 {
  margin-left: 320px;
}

#l3 .eventname {
  display: block;
  margin-top: 30px;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  align-items: center;
}

#l4 {
  margin-left: 480px;
}

#l4 .eventname {
  margin-top: 12px;
  font-size: 25px;
  display: block;
  text-align: center;
  align-items: center;

}

#l5 {
  margin-left: 640px;
}

#l5 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

#l6 {
  margin-left: 800px;
}

#l6 .eventname {
  display: block;
  margin-top: 5px;
  font-size: 22px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

#l7 {
  margin-left: 960px;
}

#l7 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

#l8 {
  margin-left: 1120px;
}

#l8 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.eventdescription {
  line-height: 30px;
  position: absolute;
  display: none;
  width: 100%;
  height: 330px;
  margin-top: 5px;
  //background-color: rgb(121, 191, 255);
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.eventdescription ul {
  font-size: 19px;
  margin: 0;
  font-family: 'Aller';
  //padding-left: 2px;
  margin-bottom: 10px;
}

.eventheading {
  position: absolute;
  margin-left: 600px;
}

.descleft {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.leftheading {
  position: absolute;
  margin-left: 240px;
  margin-bottom: 20px;
}

.perules {
  margin-left: 600px;
  z-index: 9999;
}

.leftcontent {
  overflow: hidden;
  height: 300px;
  margin-top: 40px;
}

.leftcontent ul {
  //margin-top: 30px;
  width: 600px;
  overflow: hidden;
}

.pplc ul {
  width: 590px;
}


.leftcontent::-webkit-scrollbar {
  width: 5px;
}

.leftcontent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  //outline: 1px solid slategrey;
}

.leftcontent::-webkit-scrollbar-track {
  display: none;
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.leftcontent::-moz-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.leftcontent:hover {
  overflow-y: auto;
}

.descright {
  right: 0;
  position: absolute;
  //margin-top: 15px;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-color: transparent;
}

.rightheading {
  position: absolute;
  margin-left: 210px;
  //margin-top: -10px;
  margin-bottom: 50px;
}

.rightcontent {
  margin-top: 40px;
  height: 300px;
  overflow: hidden;
  background-color: transparent;
}

.javadbrc {
  margin-top: 10px;
  height: 325px;
}

.rightcontent ul {
  width: 90%;
}

.rightcontent ol {
  width: 90%;
  margin: 0;
}

.rightcontent ol > li {
  font-size: 22px;
  //font-family: "Droid Sans";
}


.rightcontent::-webkit-scrollbar {
  width: 5px;
}

.rightcontent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  //outline: 1px solid slategrey;
}

.rightcontent::-webkit-scrollbar-track {
  display: none;
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.rightcontent::-moz-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.rightcontent:hover {
  overflow-y: auto;
}

.rightinnerheading {
  margin-left: 215px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 20px;
  font-family: 'Aller';
}

.bottompanel {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}

.coordinators {
  font-family: "Droid Sans";
  position: absolute;
  font-size: 18px;
}

.coordinatorsare {
  position: absolute;
  margin-top: 28px;
  margin-left: 350px;
  font-size: 20px;

}

.coordinator1 {
  position: absolute;
  margin-top: 20px;
  margin-left: 500px;
}

.coordinator2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 670px;
}

.coordinator {
  width:150px;
  height: 25px;
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.price {
  position: absolute;
  margin-left: 20px;
  margin-top: 70px;
  font-size: 15px;
  font-family: "Droid Sans";
}

.register {
  position: absolute;
  overflow:hidden;
  font-size: 23px;
  margin-left: 1085px;
  margin-top: 10px;
  padding-top: 20px;
  height: 50px;
  width: 150px;
  background-color: #F44336;
  //background-color: white;
  color: white;
  text-align: center;
  border-radius: 5px;
  z-index: 400;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
  box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
}

#submitbutton {
  display: none;
  z-index: 500 !important;
  margin-top: 510px;
  margin-left: 600px;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 2s;
}

.marker {
  position: absolute;
  margin-left: 1000px;
  margin-top: 35px;
}

.mark {
  position: absolute;
  margin-left: -150px;
  margin-top: -11px;
  width: 140px;
  font-size: 20px;
  text-align: center;
}

.label {
  width:50px;
  height:20px;
  background:#F44336;
  box-shadow: inset 0 0 0 30px #4a4a4a;
  border-radius:20px;
  display:block;
  position:absolute;
  z-index:1;
  transition:all 300ms ease-in 0s;
}

.switch {
  position:absolute;
  outline: none;
}

.switch:before {
  content:"";
  position:absolute;
  top:-8px;
  left:-5px;
  height:30px;
  width:30px;
  border-radius:50%;
  display:block;
  background:#F44336;
  border:none;
  z-index:12;
  box-shadow:inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
  transition:box-shadow 100ms ease-in 0s, left 200ms ease-in 200ms;
}

.switch:checked:before {
  left:17px;
  box-shadow:inset 0 0 0 0 #F44336,0 0 5px 0 #000;
}

.switch:checked + .label {
  box-shadow: inset 0 0 0 0 #4a4a4a;
}

@-moz-document url-prefix() {

  /*.register {
    font-size: 20px;
    padding-top: 22px;
  }*/

  .mark {
    margin-left: -170px;
    margin-top: -12px;
    width: 160px;
    //font-size: 18px;
  }

  .switch {
    display: none;
    width: 30px;
    height: 30px;
  }

  .forff {
    position: absolute;
    height:30px;
    width:30px;
    margin-left: -2px;
    margin-top: -5px;
    border-radius:50%;
    display:block;
    background:#F44336;
    border:none;
    z-index:12;
    box-shadow:inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
    transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -moz-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -webkit-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -o-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -ms-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
  }
  .switch:checked ~ .forff {
    //margin-left: 23px;
    box-shadow:inset 0 0 0 0 #F44336,0 0 5px 0 #000;
  }

  .list li {
    display: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
  }

  /*.markedevent {
    width: 653px;
    //background-color: rgb(212, 249, 254);
    padding-left: 10px;
    padding-top: 2.5px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    transition: background-color ease 500ms;
    z-index: 555;
  }*/

  .markedevent {
      font-size: 17px;
      padding-bottom: 3px;
      padding-top: 3px;
  }
}

.topimage {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.topimage img {
  width: 100%;
}

.branchselect {
  //position: absolute;
  //width: 100px;
  height: 100%;
  //float: right;
  margin-top: -38px;
  margin-right: 0px;
  //right: 152px;
}

.branchlist {
  position: absolute;
  font-family: "Droid Sans";
  color: white;
  font-size: 25px;
  width: 150px;
  height: 30px;
  text-align: center;
  top: 3px;
  //padding-top: 20px;
  border: 2px solid white;
  border-radius: 4px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.branchlist ul {
  display: none;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  z-index: 99;
  color: black;
  background-color: white;
  border-radius: 5px;
  /*padding-top: 1px;
  padding-bottom: 1px;*/
  -webkit-box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
}

.branchlist li {
  //margin-top: 10px;
  //background-color: red;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: background-color linear 0.5s;
}

.branchlist li:hover {
  background-color:rgb(196, 196, 196);
}

#cseselect {
  border-radius: 5px 5px 0 0;
}

#itselect {
  border-radius: 0 0 5px 5px;
}
