.eceevents .events {
  //display: inline-block;
  position: absolute;
  font-family: 'Anivers';
  font-size: 25px !important;
  //font-family: 'AUdimat';
  //font-weight: bold;
  width: 170px;
  height: 80px;
  //margin-left: 10px;
  //background-color: rgba(179, 235, 252, 1);
  background-color: rgba(255, 255, 255, 1);
  //display: block;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
}

.eceevents .events span {
  //position: relative;
  //margin: 10px auto;
  display: none;
}

.eceevents #l1 {
  //font-size: 23px;
  background-position: left;
  background-size: contain;
}

.eceevents #l1 .eventname {
  line-height: 23px;
  display: block;
  margin-top: 15px;
  //margin-left: -5px;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.eceevents #l2 {
  margin-left: 182px;
}

.eceevents #l2 .eventname {
  display: block;
  margin-top: 25px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

.eceevents #l3 {
  margin-left: 364px;
}

.eceevents #l3 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

.eceevents #l4 {
  margin-left: 546px;
}

.eceevents #l4 .eventname {
  margin-top: 25px;
  font-size: 24px;
  line-height: 24px;
  display: block;
  text-align: center;
  align-items: center;

}

.eceevents #l5 {
  margin-left: 728px;
}

.eceevents #l5 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

.eceevents #l6 {
  margin-left: 910px;
}

.eceevents #l6 .eventname {
  display: block;
  margin-top: 25px;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

.eceevents #l7 {
  margin-left: 1092px;
}

.eceevents #l7 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.eceevents #l8 {
  margin-left: 1120px;
}

.eceevents #l8 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.eceevents .eventdescription {
  line-height: 30px;
  position: absolute;
  display: none;
  width: 100%;
  height: 330px;
  margin-top: 5px;
  //background-color: rgb(121, 191, 255);
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.eceevents .eventdescription ul {
  font-size: 19px;
  margin: 0;
  font-family: 'Aller';
  //padding-left: 2px;
  margin-bottom: 10px;
}

.eceevents .eventheading {
  position: absolute;
  margin-left: 600px;
}

.eceevents .descleft {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.eceevents .leftheading {
  position: absolute;
  margin-left: 240px;
  margin-bottom: 20px;
}

.eceevents .perules {
  margin-left: 600px;
  z-index: 9999;
}

.eceevents .leftcontent {
  overflow: hidden;
  height: 300px;
  margin-top: 40px;
}

.eceevents .leftcontent ul {
  //margin-top: 30px;
  width: 90%;
  overflow: hidden;
}

.eceevents .descright {
  right: 0;
  position: absolute;
  //margin-top: 15px;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-color: transparent;
}

.eceevents .rightheading {
  position: absolute;
  margin-left: 210px;
  //margin-top: -10px;
  margin-bottom: 50px;
}

.eceevents .rightcontent {
  margin-top: 40px;
  height: 300px;
  overflow: hidden;
  background-color: transparent;
}

.eceevents .javadbrc {
  margin-top: 10px;
  height: 325px;
}

.eceevents .rightcontent ul {
  width: 90%;
}

.eceevents .rightcontent ol {
  width: 90%;
  margin: 0;
}

.eceevents .rightcontent ol > li {
  font-size: 22px;
  //font-family: "Droid Sans";
}

.eceevents .rightinnerheading {
  margin-left: 200px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 20px;
  font-family: 'Aller';
}
