@font-face {
  font-family: 'Dense';
  src: url("fonts/Dense-Regular.otf") ;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeue.otf");
}

@font-face {
  font-family: 'Bigjohn';
  src: url("fonts/BIGJOHN.otf");
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url("fonts/HelveticaNeue-Thin.otf");
}

* { padding: 0; margin: 0; }

body {
  overflow: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#loadingoverlay {
  position: fixed;
	left: 0px;
	top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99999;
  //background:rgba(0,0,0,0.9);
  //transition: 1s 0.4s;
  background-image: url("../images/preloader3.gif");
  background-position: center;
  background-size: 50px;
  background-repeat: no-repeat;
}

img {
  //visibility: collapse;
  width: 50px;
}

.container {
  position: relative;
}

.drawericonholder {
  display: none;
  position: absolute;
  z-index: 60;
  height: 60px;
  width: 20px;
  left: 0;
}

.drawericon {
  position: absolute;
  height: 100%;
  width: 100%;
  //top: 60%;
}

.navdrawer {
  position: absolute;
  height: 100%;
  width: 60%;
  background-color: #1B1F2A;
  z-index: 5;
  left: -60%;
}

.closex img {
  display: none;
  position: absolute;
  top: 10px;
  right: 8px;
  width: 20px;
}

.branch {
  position: relative;
  font-size: 1.7em;
  left: 35px;
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  //padding-left: 50px;
  padding-right: 40px;
  color: white;
  border-top: 2px solid grey;
}

.branch span {
  display: block;
  padding: none;
  padding-bottom: 0;
}

.menucse {
  border-top: none;
}

.menupp {
  padding-bottom: 0;
}

.righthalf {
  //float: left;
  //background-image: url('../images/background.jpg');
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-transition:background-image 1s ease-in-out;
  -moz-transition:background-image 1s ease-in-out;
  -o-transition:background-image 1s ease-in-out;
  -ms-transition:background-image 1s ease-in-out;
  transition:background-image 1s ease-in-out;
}

.backgroundimage {
  position: absolute;
	left: 0px;
	top: 0px;
  //height: calc(100% + 100px);
  width: 100%;
  background-image: url('../images/background.jpg');
  background-size: contain;
  background-size: cover;
  background-position: right;
  z-index: -14;

}

.backgroundimage1 {
  position: absolute;
	left: 0px;
	top: 0px;
  //height: calc(100% + 100px);
  width: 100%;
  background-image: url('../images/pic.jpg');
  background-size: contain;
  background-size: cover;
  background-position: right;
  z-index: -15;

}

.overlay {
  height: calc(100% + 100px);
  position: absolute;
  width: 100%;
  //background-color: rgba(93, 182, 255, 0.56);
  //background-color: rgba(131, 134, 143, 0.5);
  //background-color: rgba(22, 125, 148, 0.7);
  background-color: rgba(19, 67, 78, 0.6);
  //margin-top: -50px;
}

.collegelogo {
  width: 450px;
}

#clogo {
  //visibility: collapse;
  display: none;
  position: relative;
  //width: 500px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}

#flogo {
  display: none;
  visibility: visible;
  position: relative;
  width: 240px;
  margin-left: 120px;
}


.firstLine {
  color: white;
  font-size: 30px;
  font-family: 'HelveticaNeue';
  padding-left: 260px;
  //margin-top: 10px;
  position: relative;
  display: none;
}

.firstLine span {
  position: relative;
  margin: 0 auto;
}

.secondLine {
  position: relative;
  color: white;
  font-size: 40px;
  font-family: 'HelveticaNeueThin';
  //padding-left: 120px;
  //margin-left: 180px;
  margin-top: -5px;
  display: none;
}

.secondLine span {
  //visibility: hidden;
  /*left: auto;
  right: auto;*/
}

.secondLine span::before {
  content: "Engineering";
  visibility: visible;
  display: block;
  position: relative;
  margin-left: 85px;
}

.secondLine span::after {
  content: "College";
  display: block;
  margin-left: 120px;
}


.presents {
  position: relative;
  color: white;
  font-size: 100px;
  font-family: 'Dense';
  //width: inherit;
  //margin-left: 70px;
  display: none;
  /*//padding-left: 200px;*/
  /*left: auto;
  right: auto;*/
}

.presents span {
  //margin: 0 auto;
  //left: auto;
  //right: auto;
}

.socialbuttons {
  //margin-top: 100px;
  position: absolute;
  bottom: -60px;
  //display: none;

}

.socialbutton {
  width: 40px;
  height: 40px;
  background-color: white;
  float: left;
  //position: absolute;
  z-index: 1;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
}

.socialbutton img {
  width: 40px;
}

#facebook {
  background-color: #45619D;
}

#twitter {
  background-color: #55ACEE;
}

#googleplus {
  background-color: #DD4B39;
}

#instagram {
  background-color: #3F72B9;
}

#youtube {
  background-color: #CD201F;
}

#facebook img {
  margin-top: 2px;
  margin-left: 2px;
  width: 35px;
}

#twitter img {
  width: 30px;
  margin-top: 7px;
  margin-left: 5px;
}

#googleplus img {
  width: 30px;
  margin-top: 6px;
  margin-left: 6px;
}


#instagram  img {
  margin-top: 8px;
  margin-left: 7px;
  width: 25px;
}

#youtube  img {
  margin-top: 9px;
  margin-left: 5px;
  width: 30px;
}

#facebook:hover, #twitter:hover, #googleplus:hover, #instagram:hover, #youtube:hover {
  background-color: white;
}
