@font-face {
  font-family: 'Dense';
  src: url("fonts/Dense-Regular.otf") ;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url("fonts/HelveticaNeue.otf");
}

@font-face {
  font-family: 'Bigjohn';
  src: url("fonts/BIGJOHN.otf");
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url("fonts/HelveticaNeue-Thin.otf");
}

* { padding: 0; margin: 0; }

html {
    height: 100%;
}

body {
  background-color: black;
  overflow: hidden;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navdrawer { display: none; }
.drawericonholder { display: none; }

#loadingoverlay {
  position: fixed;
	left: 0px;
	top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99999;
  //background:rgba(0,0,0,0.9);
  //transition: 1s 0.4s;
  background-image: url("../images/preloader3.gif");
  background-position: center;
  background-repeat: no-repeat;
}

.container {

}

.lefthalf {
  float: left;
  margin-left: -42.5%;
  width: 42.5%;
  //background-color: rgb(138, 138, 138);
  background-color: #1B1F2A;
}

.socialaddress {
  color: white;
  font-family: 'HelveticaNeueThin';
  font-size: 20px;
  position: absolute;
  bottom: -20px;

}

.socialbuttons {
  font-size: 0;
  position: absolute;
  bottom: -60px;
  /*z-index: 5;
  margin-top: 700px;*/
}

.socialbutton {
  width: 60px;
  height: 60px;
  //display: inline-block;
  float: left;
  //position: absolute;
  //bottom: 0;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  /*z-index: 5;
  margin-top: 700px;*/
}

#facebook {
  background-color: #45619D;
}

#twitter {
  background-color: #55ACEE;
}

#googleplus {
  background-color: #DD4B39;
}

#instagram {
  background-color: #3F72B9;
}

#youtube {
  background-color: #CD201F;
}

#facebook:hover, #twitter:hover, #googleplus:hover, #instagram:hover, #youtube:hover {
  background-color: white;
}

.brand {
  width: 50px;
}

#facebook img {
  margin-top: 4px;
  margin-left: 5px;
}

#twitter img {
  margin-top: 7px;
  margin-left: 5px;
}

#googleplus img {
  margin-top: 6px;
  margin-left: 6px;
}


#instagram  img {
  margin-top: 9px;
  margin-left: 9px;
  width: 40px;
}

#youtube  img {
  margin-top: 14.5px;
  margin-left: 10px;
  width: 40px;
}


.righthalf{
  float: right;
  //position: relative;
  margin-right: -57.5%;
  width: 57.5%;
  //background-color: rgba(233, 97, 121, 0.56);

  //background-image: url("http://i.ytimg.com/vi/bk5368Y_DRo/maxresdefault.jpg");
  //background-image: url("");
  //background-image: url('../images/background.jpg');
  background-size: contain;
  background-size: cover;
  background-position: right;
  -webkit-transition:background-image 1s ease-in-out;
  -moz-transition:background-image 1s ease-in-out;
  -o-transition:background-image 1s ease-in-out;
  -ms-transition:background-image 1s ease-in-out;
  transition:background-image 1s ease-in-out;
}

.backgroundimage {
  position: absolute;
	right: -57.5%;
	top: 0px;
  height: 100%;
  width: 57.5%;
  background-image: url('../images/background.jpg');
  background-size: contain;
  background-size: cover;
  background-position: right;
  z-index: -14;

}

.backgroundimage1 {
  position: absolute;
	right: -57.5%;
	top: 0px;
  height: 100%;
  width: 57.5%;
  background-image: url('../images/pic.jpg');
  background-size: contain;
  background-size: cover;
  background-position: right;
  z-index: -15;

}


.overlay {
  height: inherit;
  width: 100%;
  //background-color: rgba(93, 182, 255, 0.56);
  //background-color: rgba(131, 134, 143, 0.5);
  background-color: rgba(22, 125, 148, 0.5);
  //margin-top: -50px;

}

/*.collegetext  div {
  display: inline-block;
}*/

.firstLine {
  color: white;
  font-size: 50px;
  font-family: 'HelveticaNeue';
  padding-left: 240px;
  margin-top: 10px;
}

.firstLine span {
  position: relative;
  margin-left: -400px;
}

.secondLine {
  color: white;
  font-size: 40px;
  font-family: 'HelveticaNeueThin';
  padding-left: 120px;
  margin-top: -5px;
}

.secondLine span {
  position: relative;
  margin-left: -550px;
}


.presents {
  color: white;
  font-size: 100px;
  font-family: 'Dense';
  padding-left: 180px;

}

.presents span {
  position: relative;
  margin-left: -600px;
}

#clogo {
  width: 75px;
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  display: none;
}

#flogo {
  width: 420px;
  margin-left: 50px;
  margin-top: 50px;
  display: none;
}

.hexagon-container {
  margin-left: 120px;
  position: absolute;
  top: 6%;

}

.hexagon {
  position: absolute;
  display: none;
  width: 200px;
  height: 350px;
  //background-color: rgba(0, 218, 247, 0.4);
  background-color: rgba(92, 231, 255, 0.5);
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
	-moz-transform: rotate(120deg);
	-o-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);

  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
}

.hexagon1 {
  width: 100%;
  height: 100%;
  //background-color: rgba(0, 218, 247, 0.7);
  //background-color: rgba(92, 231, 255, 0.4);
  background-color: inherit;
  overflow: hidden;

  -webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
  -webkit-backface-visibility:hidden;
}

.hexagon2 {
  width: 100%;
  height: 100%;
  //background-color: rgba(0, 218, 247, 0.7);
  //background-color: rgba(92, 231, 255, 0.4);
  background-color: inherit;
  visibility: visible;
  //background-image: url('hammer.png');
  background-repeat: no-repeat;
  //background-position: 50%;
  //background-position: right -90px bottom 150px;
  background-position: right -650px bottom -40px;

  -webkit-backface-visibility:hidden;

  -webkit-transform: rotate(-60deg);
	-moz-transform: rotate(-60deg);
	-o-transform: rotate(-60deg);
	-ms-transform: rotate(-60deg);
	transform: rotate(-60deg);
}

.hexagon2 a {
  position: relative;
  font-size: 70px;
  text-decoration: none;
  color: white;
  top: 145px;
  left: 30px;
  font-family: 'Bigjohn';
}

.hexagon2 a:visited {
  color: white;
}

#faceit {
  display: none;
  margin-left: 151px;
  margin-top: 150px;
}

#faceit img {
  display: none;
  width: 150px;
  margin-left: 25px;
  margin-top: 101px;
}

#faceit span {
  position: relative;
  font-size: 70px;
  color: white;
  top: 145px;
  font-size: 45px;
  left: 15px;
  font-family: 'Bigjohn';
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#k15 {
  margin-left: 25px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#cse {
  /*margin-left: 48px;
  margin-top: -28px;*/
  display: none;
  opacity: 0;
  margin-left: 30px;
  margin-top: -60px;

}

#cse a {
  left: 28px;
  top: 128px;
}

#ece {
  /*margin-left: 254px;
  margin-top: -28px;*/
  margin-left: 272px;
  margin-top: -60px;
  display: none;
}

#ece a {
  top: 128px;
}


#mech {
  /*margin-left: -55px;
  margin-top: 150px;*/
  display: none;
  margin-left: -75px;
  margin-top: 150px;
}

#mech a {
  font-size: 60px;
  top: 135px;
  left: 8px;
}

#civ {
  /*margin-left: 357px;
  margin-top: 150px;*/
  margin-left: 377px;
  margin-top: 150px;
  display: none;
}

#civ a {
  font-size: 60px;
  top: 135px;
  left: 12px;
}

#it {
  /*margin-left: 48px;
  margin-top: 328px;*/
  display: none;
  margin-left: 28px;
  margin-top: 348px;
}

#it a {
  top: 130px;
  left: 36px;
}

#eee {
  /*margin-left: 254px;
  margin-top: 328px;*/
  display: none;
  margin-left: 274px;
  margin-top: 348px;

}

#eee a {
  top: 130px;
  left: 65px;
}

#eee a span {
  display: block;
}

#eee a #papers {
  margin-left: 10px;
}

#cse:hover {
  margin-left: 20px;
  margin-top: -80px;
}
#ece:hover {
  margin-left: 282px;
  margin-top: -80px;
}
#mech:hover {
  margin-left: -95px;
}

#civ:hover {
  margin-left: 397px;
}
#it:hover {
  margin-left: 18px;
  margin-top: 368px;
}
#eee:hover {
  margin-left: 284px;
  margin-top: 368px;
}

#faceit:hover ~ #cse {
  margin-left: 20px;
  margin-top: -80px;
}

#faceit:hover ~ #ece {
  margin-left: 282px;
  margin-top: -80px;
}

#faceit:hover ~ #mech {
  margin-left: -95px;
}

#faceit:hover ~ #civ {
  margin-left: 397px;
}

#faceit:hover ~ #it {
  margin-left: 18px;
  margin-top: 368px;
}

#faceit:hover ~ #eee {
  margin-left: 284px;
  margin-top: 368px;
}
