.itevents .events {
  //display: inline-block;
  position: absolute;
  font-family: 'Anivers';
  font-size: 25px !important;
  //font-family: 'AUdimat';
  //font-weight: bold;
  width: 150px;
  height: 80px;
  //margin-left: 10px;
  //background-color: rgba(179, 235, 252, 1);
  background-color: rgba(255, 255, 255, 1);
  //display: block;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  box-shadow: 0px 3px 9px -3px rgba(0,0,0,0.48);
  z-index: 10;
}

.itevents .events span {
  //position: relative;
  //margin: 10px auto;
  display: none;
}

.itevents #l1 {
  font-size: 23px;
  background-position: left;
  background-size: contain;
}

.itevents #l1 .eventname {
  line-height: 23px;
  display: block;
  margin-top: 5px;
  //margin-left: -5px;
  font-size: 25px;
  text-align: center;
  align-items: center;
}

.itevents #l2 {
  margin-left: 160px;
}

.itevents #l2 .eventname {
  display: block;
  margin-top: 5px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  align-items: center;
}

.itevents #l3 {
  margin-left: 320px;
}

.itevents #l3 .eventname {
  display: block;
  margin-top: 30px;
  font-size: 24px;
  line-height: 20px;
  text-align: center;
  align-items: center;
}

.itevents #l4 {
  margin-left: 480px;
}

.itevents #l4 .eventname {
  margin-top: 12px;
  font-size: 25px;
  display: block;
  text-align: center;
  align-items: center;

}

.itevents #l5 {
  margin-left: 640px;
}

.itevents #l5 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 23px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.itevents #l6 {
  margin-left: 800px;
}

.itevents #l6 .eventname {
  display: block;
  margin-top: 5px;
  font-size: 22px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.itevents #l7 {
  margin-left: 960px;
}

.itevents #l7 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.itevents #l8 {
  margin-left: 1120px;
}

.itevents #l8 .eventname {
  display: block;
  margin-top: 15px;
  font-size: 25px;
  line-height: 23px;
  text-align: center;
  align-items: center;
}

.itevents .eventdescription {
  line-height: 30px;
  position: absolute;
  display: none;
  width: 100%;
  height: 330px;
  margin-top: 5px;
  //background-color: rgb(121, 191, 255);
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.itevents .eventdescription ul {
  font-size: 19px;
  margin: 0;
  font-family: 'Aller';
  //padding-left: 2px;
  margin-bottom: 10px;
}

.itevents .eventheading {
  position: absolute;
  margin-left: 600px;
}

.itevents .descleft {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.itevents .leftheading {
  position: absolute;
  margin-left: 240px;
  margin-bottom: 20px;
}

.itevents .perules {
  margin-left: 600px;
  z-index: 9999;
}

.itevents .leftcontent {
  overflow: hidden;
  height: 300px;
  margin-top: 40px;
}

.itevents .leftcontent ul {
  //margin-top: 30px;
  width: 600px;
  overflow: hidden;
}

.itevents .pplc ul {
  width: 590px;
}


.leftcontent::-webkit-scrollbar {
  width: 5px;
}

.leftcontent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  //outline: 1px solid slategrey;
}

.leftcontent::-webkit-scrollbar-track {
  display: none;
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.leftcontent::-moz-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.leftcontent:hover {
  overflow-y: auto;
}

.itevents .descright {
  right: 0;
  position: absolute;
  //margin-top: 15px;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-color: transparent;
}

.itevents .rightheading {
  position: absolute;
  margin-left: 210px;
  //margin-top: -10px;
  margin-bottom: 50px;
}

.itevents .rightcontent {
  margin-top: 40px;
  height: 300px;
  overflow: hidden;
  background-color: transparent;
}

.itevents .javadbrc {
  margin-top: 10px;
  height: 325px;
}

.itevents .rightcontent ul {
  width: 90%;
}

.itevents .rightcontent ol {
  width: 90%;
  margin: 0;
}

.itevents .rightcontent ol > li {
  font-size: 22px;
  //font-family: "Droid Sans";
}


.itevents .rightcontent::-webkit-scrollbar {
  width: 5px;
}

.itevents .rightcontent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  //outline: 1px solid slategrey;
}

.itevents .rightcontent::-webkit-scrollbar-track {
  display: none;
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.itevents .rightcontent::-moz-scrollbar-track {
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.itevents .rightcontent:hover {
  overflow-y: auto;
}

.itevents .rightinnerheading {
  margin-left: 215px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 20px;
  font-family: 'Aller';
}

.bottompanel {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: white;
}

.coordinators {
  font-family: "Droid Sans";
  position: absolute;
  font-size: 18px;
}

.coordinatorsare {
  position: absolute;
  margin-top: 28px;
  margin-left: 350px;
  font-size: 20px;

}

.coordinator1 {
  position: absolute;
  margin-top: 20px;
  margin-left: 500px;
}

.coordinator2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 670px;
}

.coordinator {
  width:150px;
  height: 25px;
  -moz-user-select: auto;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.price {
  position: absolute;
  margin-left: 20px;
  margin-top: 70px;
  font-size: 15px;
  font-family: "Droid Sans";
}

.register {
  position: absolute;
  overflow:hidden;
  font-size: 23px;
  margin-left: 1085px;
  margin-top: 10px;
  padding-top: 20px;
  height: 50px;
  width: 150px;
  background-color: #F44336;
  //background-color: white;
  color: white;
  text-align: center;
  border-radius: 5px;
  z-index: 400;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
  box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.48);
}

#submitbutton {
  display: none;
  z-index: 500 !important;
  margin-top: 510px;
  margin-left: 600px;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 2s;
}

.marker {
  position: absolute;
  margin-left: 1000px;
  margin-top: 35px;
}

.mark {
  position: absolute;
  margin-left: -150px;
  margin-top: -11px;
  width: 140px;
  font-size: 20px;
  text-align: center;
}

.label {
  width:50px;
  height:20px;
  background:#F44336;
  box-shadow: inset 0 0 0 30px #4a4a4a;
  border-radius:20px;
  display:block;
  position:absolute;
  /*margin-top: -2px;
  margin-left: -2px;*/
  z-index:1;
  transition:all 300ms ease-in 0s;
}

.switch {
  position:absolute;
  margin-left: 5px;
  outline: none;
}

.switch:before {
  content:"";
  position:absolute;
  top:-5px;
  left:-6px;
  height:30px;
  width:30px;
  border-radius:50%;
  display:block;
  background:#F44336;
  border:none;
  z-index:12;
  box-shadow:inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
  transition:box-shadow 100ms ease-in 0s, left 200ms ease-in 200ms;
}

.switch:checked:before {
  left:17px;
  box-shadow:inset 0 0 0 0 #F44336,0 0 5px 0 #000;
}

.switch:checked + .label {
  box-shadow: inset 0 0 0 0 #4a4a4a;
}

@-moz-document url-prefix() {

  /*.register {
    font-size: 20px;
    padding-top: 22px;
  }*/

  .mark {
    margin-left: -170px;
    margin-top: -12px;
    width: 160px;
    //font-size: 18px;
  }

  .switch {
    display: none;
    width: 30px;
    height: 30px;
  }

  .forff {
    position: absolute;
    height:30px;
    width:30px;
    margin-left: -2px;
    margin-top: -5px;
    border-radius:50%;
    display:block;
    background:#F44336;
    border:none;
    z-index:12;
    box-shadow:inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
    transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -moz-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -webkit-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -o-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
    -ms-transition:box-shadow 200ms ease-in 50ms, left 200ms ease-in 200ms;
  }
  .switch:checked ~ .forff {
    //margin-left: 23px;
    box-shadow:inset 0 0 0 0 #F44336,0 0 5px 0 #000;
  }

  .list li {
    display: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
  }

  /*.markedevent {
    width: 653px;
    //background-color: rgb(212, 249, 254);
    padding-left: 10px;
    padding-top: 2.5px;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    transition: background-color ease 500ms;
    z-index: 555;
  }*/

  .markedevent {
      font-size: 17px;
      padding-bottom: 3px;
      padding-top: 3px;
  }
}

.topimage {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.topimage img {
  width: 100%;
}

.branchselect {
  //position: absolute;
  //width: 100px;
  height: 100%;
  //float: right;
  margin-top: -38px;
  margin-right: 0px;
  //right: 152px;
}

.branchlisttop {
  position: absolute;
  font-family: "Droid Sans";
  color: white;
  font-size: 25px;
  width: 150px;
  height: 30px;
  text-align: center;
  top: 3px;
  //padding-top: 20px;
  border: 2px solid white;
  border-radius: 4px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  z-index: 300;
  transition: background-color linear 0.3s, color linear 0.3s;
  -webkit-transition: background-color linear 0.3s, color linear 0.3s;
  -moz-transition: background-color linear 0.3s, color linear 0.3s;
  -o-transition: background-color linear 0.3s, color linear 0.3s;
  -ms-transition: background-color linear 0.3s, color linear 0.3s;
}

.branchlisttop ul {
  display: none;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  z-index: 99;
  color: black;
  background-color: white;
  border-radius: 5px;
  /*padding-top: 1px;
  padding-bottom: 1px;*/
  -webkit-box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 6px 28px -4px rgba(0,0,0,0.75);
}

.branchlisttop li {
  //margin-top: 10px;
  //background-color: red;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px 5px 5px 5px;
  transition: background-color linear 0.5s;
  -webkit-transition: background-color linear 0.5s;
  -moz-transition: background-color linear 0.5s;
  -o-transition: background-color linear 0.5s;
  -ms-transition: background-color linear 0.5s;
}

.branchlisttop li:hover {
  background-color:rgb(196, 196, 196);
}

.branchlisttop:hover {
  background-color: white;
  color: black;
}

.rightcontent::-webkit-scrollbar {
  width: 5px;
}

.rightcontent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  //outline: 1px solid slategrey;
}

.rightcontent::-webkit-scrollbar-track {
  display: none;
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.rightcontent::-moz-scrollbar-track {
  display: none;
  //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.rightcontent:hover {
  overflow-y: auto;
}
