@font-face {
  font-family: 'Droid Sans';
  src: url("fonts/DroidSans.ttf") ;
}


body {
/*    background-color: #e6e6e6;*/
  background-color: #42a8d5;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
    width: 100%;
}

.card {
  font-size: 15px;
  font-family: 'Droid Sans';
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 80px;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
  //overflow-y: auto;
  /*-webkit-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);*/
}

.card::-webkit-scrollbar {
  display: none;
  width: 5px;
}

.card::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  //outline: 1px solid slategrey;
}

.card::-webkit-scrollbar-track {
  display: none;
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.card::-moz-scrollbar-track {
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.eventdescriptionmobile {
    //overflow-y: auto;
    -moz-user-select: auto;
    -khtml-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.firstcard {
    margin-top: 20px;
}

.lastcard {
    margin-bottom: 20px;
}

.eventheadingmobile {
    width: 100%;
    margin-top: 30px;
}

.eventdescriptionmobile {
    text-align: center;
}

.rulesheading {
    margin-top: 50px;
}

.rulelist > ul {
    width: 80%;
/*
    margin-left: auto;
    margin-right: auto;
*/
    text-align: left;
    align-content: center;
}

.rulelist > ul > li {
  margin-top: 5px;
}

.rulelist > ul > ul {
  padding-left: 10px;
}

.regzone {
    width: 100%;
    height: 100px;
    background-color: #9b9b9b;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.regbutt {
  float: right;
  height: 30px;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-top: 35px;
  margin-right: 30px;
}

.marklabel {
  position: relative;
  font-size: 20px;
  margin-top: -50px;
}

.markbox {
  position: relative;
  margin-top: 65px;
  left: 0px;
  width: 30px;
}

.markbox:checked ~ label {
  /*visibility: hidden;
  content: "This event has been marked."*/
}

.closeimgholder {
  float: right;
  display: none;
}

.closeimg {
  /*display: none;*/
  position: absolute;
  margin-top: -20px;
  width: 20px;
  right: 45px;
}
